{{define "content"}}
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">project list</li>
        {{range .projectInfos}}
          {{if not .IsManage}}
            <li><a href="/{{.Name|urlquery}}">{{.Name|html}}</a></li>
          {{end}}
        {{end}}
      </ul>
    </div>
  </div>
  <div class="span9">
    <h1>{{.topProject.Name|html}}</h1>
    {{.wiki.Content}}
  </div>
</div>
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
