{{define "content"}}
<div class="row-fluid">
  <div class="span3">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">new tickets</li>
        {{range .newestTickets}}
          <li><a href="/{{.Id}}">{{with index .Elements 3}}{{.StrVal|html}}{{end}}</a></li>
        {{end}}
      </ul>
    </div>
  </div>
  <div class="span9">
    <h1>{{.project.Name|html}}</h1>
    {{.wiki.Content}}
  </div>
</div>
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
