{{define "content"}}
    <h1>{{.ticket.Id}} {{.ticket.Title}} {{.project.Name}}</h1>

{{range .ticket.Elements}}
  {{.StrVal}}
{{end}}
yyy



    xxx
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
