{{define "content"}}
  {{$project := .project}}
  <div id="ticket_list">
    <h3>{{_ "search tickets"}}</h3>
    {{$elementTypes := .elementTypes}}

    <h3>{{_ "search condition"}}</h3>
    <div class="description">
      {{_ "input search conditions and push 'search'."}}
      <form class="form-horizontal">
        <table class="table table-bordered">
          <tr>
            <th>{{_ "keyword search"}}</th>
            <td>
              <input type="text" class="" id="q" name="q" />
            </td>
            <td colspan="2">
              <a id="condition-display-toggle" class="btn btn-small btn-info">詳細を開く</a>
            </td>
          </tr>
          <tr class="detail-condition">
            <th>{{_ "register date"}}</th>
            <td>
              <input type="text" class="span4 calendar" id="registerdate.from" name="registerdate.from" value="" maxlength="19" />
              〜
              <input type="text" class="span4 calendar" id="registerdate.to" name="registerdate.to" value="" maxlength="19" />
            </td>
            <th>{{_ "update date"}}</th>
            <td>
              <input type="text" class="span4 calendar" id="lastregisterdate.from" name="lastregisterdate.from" value="" maxlength="19" />
              〜
              <input type="text" class="span4 calendar" id="lastregisterdate.to" name="lastregisterdate.to" value="" maxlength="19" />
            </td>
          </tr>
          {{range $index, $et := $elementTypes}}
            {{if $et.DisplayInList}}
              {{if even $index}}
              <tr class="detail-condition">
              {{end}}
                <th>{{$et.Name}}</th>
                <td>
                  <input type="text" class="" id="field{{$et.Id}}" name="field{{$et.Id}}" />
                </td>
              {{if odd $index}}
              </tr>
              {{end}}
            {{end}}
          {{end}}
        </table>
        <input type="submit" class="btn btn-primary" name="search" value="Search" />
      </form>
    </div>

    <h3>search result</h3>
    {{_f "%d tickets hits." .searchResult.HitCount}}
    {{range .searchResult.States}}
      {{.Name}} ({{.Count}})
    {{end}}
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>ID</th>
          {{range $elementTypes}}
            {{if .DisplayInList}}
              <th>{{.Name}}</th>
            {{end}}
          {{end}}
          <th>{{_ "register date"}}</th>
          <th>{{_ "update date"}}</th>
          <th>{{_ "leaved days"}}</th>
        </tr>
      </thead>
      <tbody>
        {{range .searchResult.Tickets}}
          {{$ticket := .}}
          <tr>
            {{range .LastMessage.Elements}}
              {{if .ElementType.DisplayInList}}
                <td class="field{{.ElementType.Id}} field{{.ElementType.Id}}-{{.GetSelectedItemId}}">
                  {{if .HasTicketLink}}
                    <a href="{{$project.Url}}/ticket/{{$ticket.Id}}">{{.StrVal}}</a>
                  {{else}}
                    {{.StrVal}}
                  {{end}}
                </td>
              {{end}}
            {{end}}
          </tr>
        {{end}}
      </tbody>
    </table>


    <script src="/js/project_search.js"></script>

  </div>
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
