{{define "content"}}
  <h2>{{.project.Name}}</h2>
  <h3>#{{.ticket.Id}} {{.ticket.Title}}</h3>

  <div id="ticket_newest">
    <h4>ticket info</h4>
    <div class="description">
      This is latest updated tickets.
    </div>

    <table class="table table-striped">
      {{range .ticket.LastMessage.Elements}}
        {{if .ElementType.TicketProperty}}
          <tr>
            <th>{{.ElementType.Name}}</th>
            <td>
            {{.StrVal}}
        {{.ElementType.TicketProperty}}
            </td>
          </tr>
        {{end}}
      {{end}}
      <tr>
        <th>all attachments</th>
        <td>
        </td>
      </tr>
    </table>
  </div>
  <div id="ticket_newest">
    <h4>ticket history</h4>
    <div class="description">
      This is latest updated tickets.
    </div>

  </div>
yyy



    xxx
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
