{{define "content"}}
  <h3>#{{.ticket.Id}} {{.ticket.Title}}</h3>

  <div id="ticket_newest">
    <h4>{{_ "what's new"}}</h4>
    <div class="description">
      {{_ "this is latest updated tickets."}}
    </div>

    <table class="table table-striped">
      {{range .ticket.LastMessage.Elements}}
        {{if .ElementType.TicketProperty}}
          <tr>
            <th>{{.ElementType.Name}}</th>
            <td>
            {{.StrVal}}
            </td>
          </tr>
        {{end}}
      {{end}}
      <tr>
        <th>{{_ "all attachments"}}</th>
        <td>
          {{range .ticket.Messages}}
            {{range .Elements}}
              {{if .IsFile}}
                <span>
                    <a href="%s/%s/download/{{.ElementFile.Id}}/{{.ElementFile.Filename}}" target="_blank">{{.ElementFile.Filename}}</a> 
                </span>
              {{end}}
            {{end}}
          {{end}}
        </td>
      </tr>
    </table>
  </div>
  <div id="ticket_newest">
    <h4>{{_ "ticket history"}}</h4>
    <div class="description">
      {{_ "this is ticket histories."}}
    </div>
    {{$messages := .ticket.Messages}}
    {{range $index, $message := $messages}}
      <h4 class="title">
        {{inc $index}}: {{$message.GetSender}}
      </h4>
      <table class="table table-striped">
        {{range $message.Elements}}
          {{if ne .ElementType.Id 2}}
            {{if defferelementwith . $messages $index}}
              <tr>
                <th>{{.ElementType.Name}}</th>
                <td>
                {{.StrVal}}
                </td>
              </tr>
            {{end}}
          {{end}}
        {{end}}
      </table>
    {{end}}
  </div>
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
