#footer {
    text-align: right;
    margin-bottom: 20px;
}

#footer .links a {
    margin-right: 10px;
}
h4 {
    font-size: 120%;
}

.nav-list-projects > li > a,
.nav-list-tickets > li > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.detail-condition {
    display: none;
}

form > .required label.control-label {
    border-left: 2px solid #DE1439 !important;
}
span.required {
    color: #ff0000;
}
.error {
    color: #ff0000;
    font-weight: bold;
}
.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
    color: #555555;
}

#ticket_newest table {
    background-color: #ffff99;
}
#ticket_history table {
    background-color: #eeeeee;
}
div.date {
    float: right;
    color: #333;
    font-size: 80%;
}
#ticket-elements {
    background-color: #ffff99;
    padding: 5px 0px;
}
#reply-elements {
    background-color: #eeeeee;
    padding: 5px 0px;
}
/* vim: set ts=4 sw=4 sts=4 expandtab fenc=utf-8: */
