.nav-list-projects > li > a,
.nav-list-tickets > li > a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.detail-condition {
        display: none;
}

form > .required label.control-label {
    border-left: 2px solid #DE1439 !important;
}
span.required {
    color: #ff0000;
}
