{{define "title"}}
    <title>{{.topProject.Name}} {{.project.Name}} | Multivac</title>
{{end}}
{{define "content"}}
    {{.wiki.Content}}
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
