{{define "title"}}
    <title>settei {{.topProject.Name}} {{.project.Name}} | Goits</title>
{{end}}
{{define "content"}}
  <h2>{{.project.Name}} {{_ "management of sub project"}}</h2>
  <h3>{{_ "columns settings"}}</h3>
  {{$project := .project}}

  <div id="columns">
    <table class="table">
      <tr>
        <th>{{_ "column name"}}</th>
        <th>{{_ "edit"}}</th>
      </tr>
    {{range .elementTypes}}
      <tr data-item="{{.|json}}">
        <td><a class="edit">{{.Name}}</a></td>
        <td>
          <a class="cursor-grab sort" title="{{_ "sort"}}"><i class="icon-hand-up"></i></a>
          <a class="cursor-link edit" title="{{_ "edit"}}"><i class="icon-edit"></i></a>
          <a class="cursor-link delete" title="{{_ "delete"}}"><i class="icon-trash"></i></a>
        </td>
      </tr>
    {{end}}
    </table>
  </div>
  <script type="text/javascript" src="/js/jquery.tablednd.js"></script>
  <script type="text/javascript" src="/js/settings_items.js"></script>

  <div id="item-edit-block-tmpl"> 
    <div id="item-edit-block" class="hide fade modal modal-large">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>${Name}</h3>
      </div>
      <div class="modal-body">
        <form class="form-horizontal">
          <div class="control-group">
            <label class="control-label" for="name">{{_ "column name"}}</label>
            <div class="controls">
              <input type="text" id="name" name="name" value="${Name}" placeholder="Type something">
              {{_ "this is name of ticket column."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">{{_ "description"}}</label>
            <div class="controls">
              <input type="text" id="description" name="description" value="${Description}">
              {{_ "this is description of ticket column. when register or replay, it is displayed."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="required">{{_ "required"}}</label>
            <div class="controls">
              <input type="text" id="required" name="required" value="${Required}">
              {{_ "this column must not be empty."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="ticket_property">{{_ "attribute of ticket"}}</label>
            <div class="controls">
              <input type="text" id="ticket_property" name="ticket_property" value="${TicketProperty}">
              {{_ "this column will be attribute of ticket."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="reply_property">{{_ "reply_property"}}</label>
            <div class="controls">
              <input type="text" id="reply_property" name="reply_property" value="${reply_property}">
              {{_ "this column will be reply only."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="element_type_id">{{_ "column type"}}</label>
            <div class="controls">
              <input type="text" id="element_type_id" name="element_type_id" value="${element_type_id}">
              {{_ "this is description of ticket column. when register or replay, it is displayed."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">{{_ "selection element"}}</label>
            <div class="controls">
              <input type="text" id="description" name="description" value="${Description}">
              {{_ "this is description of ticket column. when register or replay, it is displayed."}}
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="description">{{_ "description"}}</label>
            <div class="controls">
              <input type="text" id="description" name="description" value="${Description}">
              {{_ "this is description of ticket column. when register or replay, it is displayed."}}
            </div>
          </div>
        </form>


      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <a href="#" class="btn btn-primary">Save changes</a>
      </div>
    </div>
  </div>
{{end}}
<!-- vim: set ts=2 sw=2 sts=2 expandtab fenc=utf-8: -->
